fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-dotenv
pydantic

faster-whisper
passlib
bcrypt
python-jose
python-multipart
psutil
librosa
numpy
pandas
scipy
soundfile

rapidfuzz

streamlit
requests
streamlit-mic-recorder

aiofiles
imageio-ffmpeg
opencv-python
# parselmouth
noisereduce

torch
silero-vad
g2p_en
nltk
kokoro-onnx